.carousel-control-prev,
.carousel-control-next {
  font-size: medium; /* Ajuste os valores de padding conforme necessário */
  background-color: black 6.5s;
  height: 80px;
  top: 190px;
  width: 80px;
  border-radius: 50%;
}
.carousel-control-prev:active,
.carousel-control-next:active {
  font-size: medium; /* Ajuste os valores de padding conforme necessário */
  background-color: orange;
  height: 80px;
  top: 190px;
  width: 80px;
  transition: 0.5ms;

  border-radius: 50%;
}
.carousel-control-prev,
.carousel-control-next {
  font-size: medium; /* Ajuste os valores de padding conforme necessário */
  background-color: black;
  height: 80px;
  top: 190px;
  width: 80px;
  border-radius: 50%;
}

.carousel-transition-duration {
  transition: transform 10s ease;
}

.img2 {
  /* width: 100%;
  margin: 1%;
  border: 2px orange solid;
  border-radius: 50%; */
}
.card {
  align-items: center;
  margin-left: 5%;
  max-width: 1000px;
  height: 350px;
  margin-top: 50px;
  border: 50px;
}

.card>img{
  transition: all 0.6s ease-in-out;
}


.card>img:hover{
  

  
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}




@media screen and (max-width: 500px) {
  .carrossel {
    display: flex;
    flex-direction: column;
  }
}


